*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#myForm{
    display: flex;
    justify-content: center;
    #name{
        width: 200px;
    }
    #surname{
        width: 200px;
    }
    #class{
        width: 200px;
    }
}